<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>To - Do List </h1>
    </header>

    <section id="user-task">
      <h2>Enter a new task </h2>
      <input type="text" v-model="enteredValue"/>
      <button @click="addElements">Add Task</button>
      <button @click="remove(index)">Delete  </button>
      <button @click="removeAll(index)">Delete All</button>
      <p  v-if="tasks.length === 0 ">No task  have been added yet - please start adding some!</p>
      <ul v-else>
        <li v-for ="(task , index ) in tasks " >{{ task }}  </li>
      </ul>
      
      

    </section>
  </body>
</html>
